*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fbfbfd;
  font-family: Helvetica, Arial, sans-serif;
  color: #6c757d;
}

a {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

button {
  transition-duration: 0.7s;
  color: white;
  background-color: #0195ff;
  border: 1px solid #0195ff;
  border-radius: 7px;
  font-weight: bolder;
  font-size: 100%;
  height: 2.8rem;
  width: 10rem;
}

.button--get-started {
  width: 13rem;
}

.button--alternative {
  transition-duration: 0.7s;
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
  color: #6c757d;
  /* font-weight: bolder;
  font-size: 90%;
  padding: 4% 11%;
  margin: 8% 0%; */
}

.button--alternative:hover {
  background-color: white;
  border: 1px solid #0195ff;
  border-radius: 8px;
  /* font-weight: bolder;
  font-size: 90%;
  padding: 4% 11%;
  margin: 8% 0%; */
  color: #0195ff;
}

button:hover {
  background-color: white;
  border: 1px solid grey;
  border-radius: 7px;
  font-weight: bolder;
  font-size: 100%;
  color: grey;
}

p {
  text-align: center;
  line-height: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  background-color: white;
}

.navbar-sizer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1130px;
  /* background-color: orange;  */
}

.navbar-logo {
  display: flex;
  justify-content: center;
  height: 37px;
}

.navbar-items--ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.navbar-items--li {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

}

.navbar-items--li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.part-one {
  width: 100%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.part-two {
  background-color: white;
  /* margin-top: -200px; */
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.part-three {
  background-image: linear-gradient(#fbfbfd, white);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 80px;
}

.content {
  margin-top: 60px;
  width: 95%;
  background-color: #fbfbfd;
  max-width: 1250px;
  margin-bottom: 250px;
}

.content-two {
  margin-top: 60px;
  width: 95%;
  max-width: 1250px;
  margin-bottom: 30px;
}

.content-three {
  width: 95%;
  max-width: 1250px;
}

.content-end {
  margin-top: 60px;
  width: 95%;
  background-color: #fbfbfd;
  max-width: 1250px;
}

.content-top-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.content-top-text p {
  margin-top: 0;
}

.content-tiers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-tiers-option {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 15px;
  font-size: 105%;
  width: 92%;
  max-width: 516px;
  color: gray;
  margin-bottom: 35px;
}

.content-tiers-option--content {
  margin: 30px 40px;

}

.content-tiers-option--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding-bottom: 10px;
}

.content-tiers-option--mid {
  margin-top: 40px;
}

.content-tiers-option--top h3,
.content-tiers-option--save,
.content-tiers-option--alternative-save {
  margin: 0;
}

.content-tiers-option--save {
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 6px 13px;
  border-radius: 16px;
}

.content-tiers-option--alternative-save {
  font-weight: bold;
  background-color: #0195ff;
  color: white;
  padding: 6px 13px;
  border-radius: 16px;
}

.content-tiers-option--bot {
  margin: 30px 0px;
}


.content-tiers-option--bot-parameter {
  margin: 10px;
}

.content-tiers-option--button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thicker--price {
  font-size: 250%;
  color: black;
  font-weight: bolder;
}

.thicker {
  font-weight: bolder;
}

.footer {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2f353e;
}

.h-main,
.h-secondary {
  font-size: 25px;
}

.content-comparison-table {
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.content-comparison-table--table {
  border-collapse: collapse;
  width: 100%;
}

.content-comparison-table--th {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  font-weight: bold;
}

.content-comparison-table--th1 {
  width: 35%
}

.content-comparison-table--th2 {
  width: 18%
}

.content-comparison-table--th3 {
  width: 25%
}

.content-comparison-table--th4 {
  width: 35%
}

.content-comparison-table--td {
  padding: 7px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  text-align: left;
  line-height: 30px;
}

.content-comparison-table--td-option {
  text-align: center !important;
}

.content-under-table-info {
  margin-top: 40px;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-under-table-info--p {
  width: 95%;
}

.content-payment-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-payment-info--box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-payment-info--p {
  line-height: 25px;
  font-size: 16px;
  color: gray;
}

.content-payment-info--h {
  margin-bottom: 0;
}

.content-payment-info--img {
  object-fit: contain;
  width: 50px;
  display: block;
  padding-right: 10px;
}

.content-payment-info-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 10px;
  margin-bottom: 30px;
}

.content-trial-div {
  display: flex;
  justify-content: center;
  margin-top: -200px;
  margin-bottom: 30px;
}

.content-trial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 15px;
  width: 95%;
}

.content-trial--left {
  width: 60%;
  text-align: center;
  margin: 20px 0px;
}

.content-trial--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-trial--right-link {
  margin: 20px 0px 40px 0px;
  text-decoration: underline;
}



.content-white-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.content-white-header--p {
  margin: 0;
}

.content-white-questions {
  display: flex;
  flex-direction: column;
}

.content-white-questions--h-question {
  text-align: left;
  font-size: 102%;
}

.content-white-questions--p-question {
  text-align: left;
  line-height: 25px;
}

.content-white-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.content-white-footer--h {
  margin: 5px 0px;
  font-size: medium;
}

.content-white-footer--a {
  text-decoration: underline;
}


.content-bottom-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-bottom-carousel-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content-bottom-carousel {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 15px;
  font-size: 115%;
  width: 90%;
  padding: 15px 35px;
  color: gray;
}

.content-bottom-carousel-text-div {
  display: flex;
  justify-content: space-evenly;
  line-height: 25px;
}

.content-bottom-carousel-text-div--symbol {
  font-size: 90px;
  margin-top: 45px;
  margin-right: 5px;
  margin-bottom: 0px;
}

.content-bottom-carousel-text-div--p {
  text-align: left;
  font-size: 90%;
}

.content-bottom-carousel-person {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}


.content-bottom-carousel-person--left-img {
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
}

.content-bottom-carousel-person--right {
  min-width: 130px;
}

.content-bottom-carousel-person--row1 {
  color: black;
  margin: 0px;
  font-weight: bold;
  text-align: left;
  line-height: normal;
}

.content-bottom-carousel-person--row2 {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 15px;
  text-align: left;
  line-height: normal;
}

.content-bottom-carousel-person--row3 {
  margin-bottom: 25px;
  font-size: 10px;
  text-align: left;
  line-height: normal;
}

.content-bottom-info {
  margin-top: 250px;
  margin-bottom: 50px;
}

.content-bottom-info-logo--p {
  text-align: left;
}

.content-bottom-info-logo--img {
  width: 170px;
}


.content-ending {
  width: 80%;
  opacity: 0.3;
}

.content-bottom-info-col {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  line-height: 35px;
  font-size: 19px;
}

.content-bottom-info-col--h {
  margin-top: 0px;
  margin-bottom: 9px;
  font-size: 90%;
}

.content-bottom-info-col--a {
  color: grey;
  font-size: 90%;
  text-decoration: none !important;

}

.content-bottom-info--part {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}



.show-full-elements,
.show-semi-res-elements {
  display: none;
}

.hide-full-elements {
  display: block;
}

.content-bottom-carousel-div {
  margin-top: 50px;
}

@media (min-width: 425px) {}

@media (min-width: 768px) {

  .content,
  .content-two,
  .content-three {
    width: 93%;
  }

  .h-main {
    font-size: 250%;
  }

  .h-secondary {
    font-size: 190%;
  }

  .content-tiers {
    justify-content: space-between;
  }

  .content-tiers-option {
    width: 32%
  }

  .content-tiers-option--content {
    margin: 20px 20px;
  }

  h3 {
    font-size: 100%;
  }

  p {
    text-align: left;
  }

  .thicker--price {
    font-size: 190%;
  }

  .content-payment-info {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .content-payment-info--box {
    align-items: flex-start;
    max-width: 300px;
  }

  .content-payment-info--img {
    width: 37px;
    padding-right: 5px;
  }

  .content-payment-info--p {
    font-size: 15px;
  }

  .content-trial--left {
    width: 80%;
  }

  .content-white-header--p {
    text-align: center;
    width: 80%;
  }

  .content-white-footer {
    flex-direction: row;
  }



  .content-bottom-carousel {
    margin: 0px 10px;
  }

  .content-bottom-info {
    margin-top: 150px;
  }

  .content-bottom-info-wrapper {
    display: flex;
    align-items: center;
  }

  .content-bottom-info--part {
    flex-direction: row;
    justify-content: center;
  }

  .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .show-semi-res-elements {
    display: block;
  }
}

@media (min-width: 1030px) {
  .show-full-elements {
    display: block;
  }

  .hide-full-elements {
    display: none;
  }


  .content-bottom-carousel-person--center {
    margin-left: 25px;
    margin-right: 25px;
  }


}

@media (min-width: 1440px) {
  .h-main {
    font-size: 330%;
  }

  p {
    font-size: 110%;
  }

  .content-tiers-option--content {
    margin: 40px 40px;
  }

  .content-tiers-option--button {
    justify-content: flex-start;
  }

  .content-under-table-info--p {
    width: 70%;
    text-align: center;
    margin-bottom: 50px;
  }

  .content-payment-info--img {
    width: 60px;
    padding-right: 10px;
  }

  .content-trial {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px 40px;
  }

  .content-trial--right-link {
    margin: 20px;
  }

  .content-trial--left {
    max-width: 800px;
  }

  .big-text-left {
    text-align: left;
    font-size: 270%;
  }


  .content-white-questions--h-question {
    font-size: 140%;
  }

  .content-white-questions {
    flex-direction: row;
  }

  .content-bottom-info {
    display: flex;
    flex-direction: row;
  }

  .content-bottom-info-logo {
    max-width: 350px;
  }

  .content-bottom-info-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  .content-bottom-info--part {
    width: 45%;
    justify-content: space-between;
  }

}